streamlit
pypdf
faiss-cpu

langchain
langchain-community
langchain-core
langchain-text-splitters

langchain-huggingface
sentence-transformers
torch

rank-bm25

langchain-google-genai
google-generativeai
